.profile {
	width: 128px;
	height: 128px;
	border: solid 2px cornsilk;
	box-shadow: 0 0 5px #2C3E50;
}

.nav-icon {
	position: absolute;
 	width: 28px;
  	height: 3px;
  	background-color: #ffffff;
}

